@charset "utf-8";

/* 基本レイアウト ここから↓ */

/*style.cssを読み込む。相対リンクに注意*/
@import url(common.css);

/*backgoround-colorで背景色を変更、colorでテキストの色を変更*/
body {
  background-color: #f3f2e9;
    /*background-color: black;*/
  color: #5f5039;
  /*color: rgba(255,255,255,0.2);*/

  /*フォントのサイズを指定*/
  font-size:87.5%;

  /*テキストの高さを設定する。フォントサイズの設定があるので、それを基に大きくなる
    真ん中に文字がくる*/
  line-height:1.5;
}

  /*まとめて中央に揃える idを指定した時は#,タグで作成している時はそのまま*/
  header, nav, #breadcrumb, #contents, footer {

    /*上、右、下、左の順番で値が当たる
      一番外側の余白のこと*/
    margin: 0 auto 0 auto;

    /*サイズを指定しないと端から端までの領域を取ろうとする*/
    width: 840px;
}

header h1 {
    margin: 0 0 26px 0;
    padding-top: 28px;
    text-align: center;
}

/*箇条書きの点を削除して、文字を左に寄せる*/
nav ul {

  /*親要素でoverflow: hidden;とすると箱庭的な使い方が出来る。
    その場所でしかフロートが効かなくなる（本来の使い方ではない）*/
  overflow: hidden;
  margin: 0 0 20px 0;
  padding-left: 0;
  list-style-type: none;
}

/*ナビの箇条書き項目をfloatで横並びにする*/
nav ul li {
  /*float:left;と書くことで箇条書きが左上に集まる
    widthで大きさを決めた。入りきらない場合は次の
    段落へ移動する
    解除しないと、これ以降も集まろうとする*/
  float: left;

  /*箇条書きのボックスの大きさを設定*/
  width: 210px;
}

nav ul li a {
  overflow: hidden;
  /*インライン<->ブロックに変換する*/
  display: block;
  /*アンカーの高さを変更して、クリック->リンクできるようにする*/
  padding-top: 44px;
  /*高さを0にしているので、文字が見えなくなる*/
  height: 0;
}

/*ナビのリンクに画像を張り付ける
  url(../)で上のフォルダ階層にあるファイルを指定する*/
nav ul li#nav_concept a {
  background-image: url(../images/nav1.png)
}
nav ul li#nav_plan a {
  background-image: url(../images/nav2.png)
}
nav ul li#nav_fair a {
  background-image: url(../images/nav3.png)
}
nav ul li#nav_contact a {
  background-image: url(../images/nav4.png)
}

/*idコンテンツを二つに分ける
  親でフロート解除*/
#contents {
  overflow: hidden;
}
/*メインをフロートの左寄せにして、幅を570pxにする*/
#main {
  float: left;
  width: 570px;
}
/*サブ領域をフロートの右寄せにして、幅を230pxにする
  もともとの幅は840pxだったので、メインとサブに40pxの余白が入る*/
#sub {
  float: right;
  width: 230px;
}

/*フッター領域とコンテンツの間に余白を付ける*/
footer {
  padding-top: 70px;
}

/*idメインのh1タグのフォントを変更する*/
#main h1 {
  margin: 0 0 30px 0;
  padding: 35px 0 35px 65px;
  font-size: 156.25%;
  /*背景に複数の画像を読み込み、表示する*/
  background-image: url(../images/bg_h1_head.png), url(../images/bg_h1_bottom.png);

  /*画像を上下左右に繰り返すかどうかを設定する*/
  background-repeat: no-repeat, no-repeat;

  /*画像の表示開始位置を設定する*/
  background-position: left top, left bottom;
}

/*各ナビに装飾。マウス置くとハイライト、そのページを開いていると初めからハイライト*/
/*各ボディIDと各ナビのULの組合せ*/
#concept #nav_concept a,
#plan #nav_plan a,
#fair #nav_fair a,
#contact #nav_contact a,
/*マウスを乗せたら画像が45px上にずれて表示する*/
nav ul li a:hover{
  background-position: 0 -45px;
}

/*マウスが画像の上にくると画像が半透明になる*/
.bnr_inner a p img:hover {
  opacity: 0.8;
}

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/*list-styleをnoneにしてulの中点を消して、paddingをゼロで余白を削る*/
#news ul {
  list-style-type:none;
  padding-left: 0;
}

#news ul li {
  padding: 20px 0 20px 175px;

  /*ボックスに線を引く。種類が多い*/
  border-bottom: 1px dotted #6c5f45;
  color: #342300;

  /*段落がどこから始まるか指定できる*/
  text-indent: -175px;
}

/*2行目の為に、indentやwidthを-や+や0で調整
  1行目だけだとtimeタグにpaddingやwidthを設定してあげれば良い*/
#news ul li time{
  display: inline-block;
  width: 175px;
  font-weight: bold;
  color: #6c5f45;
  text-indent: 0;
}


/* トップページ ここまで↑ */

/* 「結婚式場のコンセプト」ページ ここから↓ */

/*画像がフロートしているので、その祖先内でしか動かないようにoverflow
  bottomを付けてあげて、それぞれがひとまとまり感を出せるようにしてあげる*/
.concept_box {
  overflow: hidden;
  margin-bottom: 30px;
}

/*画像を右に置き、文章が左に回り込むようにする*/
.image_right {
  float: right;
  margin-left: 25px;
}

/*画像を左に置き、文章が右に回り込むようにする*/
.image_left {
  float: left;
  margin-right: 25px;
}

/*一番下のマージンの余白を消したい。
  :last-childを使う。*/
/*コンセプトボックスの一番下を指定*/
.concept_box:last-child,
/*コンセプトボックスのpタグの一番下を指定*/
.concept_box p:last-child {
  margin-bottom: 0;
}

/* 「結婚式場のコンセプト」ページ ここまで↑ */

/* 「プランのご案内」ページ ここから↓ */

/* 「プランのご案内」ページ ここまで↑ */

/* 「ブライダルフェア」ページ ここから↓ */

/* 「ブライダルフェア」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

/* 「お問い合わせ」ページ ここまで↑ */
